/* 全局样式 */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-size: 12px;
}
html {
	font-size: 100px;
    font-family: sans-serif;
}
@media screen and (max-width:320px){
    html{font-size:85.3334px;}
}
@media screen and (min-width:321px) and (max-width:375px){
    html{font-size:100px;}
}
@media screen and (min-width:376px) and (max-width:414px){
    html{font-size:110.4px;}
}
@media screen and (min-width:415px) and (max-width:568px){
    html{font-size:151.4666px}
}
@media screen and (min-width:569px) and (max-width:667px){
    html{font-size:177.8666px}
}
@media screen and (min-width:668px) and (max-width:767px){
    html{font-size:196.2666px}
}
@media screen and (min-width:768px) and (max-width:1024px){
    html{font-size:200px}
}
@media screen and (min-width:1024px) and (max-width:1824px){
    html{font-size:260px}
}
ul,ol{
	list-style: none;
}
img{
	border:none;
}
a{
	text-decoration: none;
}
textarea,input,a{
	outline:none;
}
textarea{
	resize: none;
}
li, img, label, input {
    vertical-align: middle;
}
